.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Navbar {
  width: 100%;
  background-color: #333;
}

.Navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-end; /* Centers the navbar items */
}

.Navbar li {
  display: inline;
}

.Navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Navbar li a:hover {
  background-color: #111;
}

main {
  background-color: #282c34;
  min-height: 80vh;
  padding-top: 20px; /* Adjust this value based on your navbar height */
  flex: 1; /* Allows the main content to take the remaining height */
}
